<div class='post-container'>
  <h3 class='post-title'><%= post.title %> (Post #<%= post.id %>)</h3>
  <p class='post-text'><%= post.text %></p>
  <div class='post-alt'>
    <form class='show-posts' action="/users/<%=user.id%>/posts/<%=post.id%>">
      <input id="post-<%= post.id%>" type='Submit' value='Show Post'>
    </form>
    <p class='likes-and-comments-count'>
      Comments: <%= post.comments_counter %>,&nbsp;
      Likes: <%= post.likes_counter %>,&nbsp;
      <form class='show-posts' action="/users/<%=user.id%>/posts/<%=post.id%>/new_comment">
        <input type='Submit' value='Add comment'>
      </form>
      <form class='show-posts left-margin' action="/users/<%=user.id%>/posts/<%=post.id%>/add_like" method="post">
        <input type='Submit' value='Like!'>
      </form>
    </p>
  </div>
</div>
