<% stylesheet_link_tag "posts-list"%>

<h1> New Post </h1>

<%= form_with model: post, url: "/users/#{user.id}/posts/create", method: :post, local: true, scope: :post do |form| %>
   <div>
    <%= form.label 'Title' %>
    <%= form.text_field :title %>
  </div>

   <div>
    <%= form.label 'Text' %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit "Add Post"%>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>
