<% stylesheet_link_tag "posts-list"%>

<main class='main-container'>
<h1>Specific Post</h1>
<section class='post-extensive'>
  <div class='post-container'>
    <div class='post-header'>
      <h3 class='post-title'><%= @post.title %> (Post #<%= @post.id %>)</h3>
    </div>
    <p class='post-text'>
      <%= @post.text %>
    </p>
    <div class='likes-and-comments-count'>
      Comments: <%= @post.comments_counter %>,&nbsp;
      Likes: <%= @post.likes_counter %>,&nbsp;
      <form class='show-posts' action="/users/<%=params[:user_id]%>/posts/<%=params[:id]%>/new_comment">
        <input type='Submit' value='Add comment'>
      </form>
      <form class='show-posts left-margin' action="/users/<%=params[:user_id]%>/posts/<%=params[:id]%>/add_like" method="post">
        <input type='Submit' value='Like!'>
      </form>
      <% if can? :destroy, @post%>
        <form class='show-posts left-margin' action="/users/<%=params[:user_id]%>/posts/<%=params[:id]%>/delete_post" method="post">
          <input type='Submit' value='Delete'>
        </form>
      <%end%>
    </div>
    <span class='post-author'>
      <p><strong>Author:</strong> <%= @user.name%></p>
    </span>
  </div>
  <% if flash[:success] %>
    <div class="success-message top-margin">
      <%= flash[:success] %>
    </div>
  <% end %>
  <% if @comments.any? %>
  <div class='post-comments-list'>
    <% @comments.each do |comment| %>
    <% user = comment.author %>
      <%= render partial: 'shared/comment-container', locals: { comment: comment, user: user } %>
    <% end %>
  </div>
  <% end %>
  <form class='show-posts' action="/users/<%=@user.id%>/posts/<%=@post.id%>/new_comment">
    <input class='top-margin' type='Submit' value='Add comment'>
  </form>
</section>

</main>
