<% stylesheet_link_tag "posts-list"%>

<main class='main-container'>
<h1>Specific Post</h1>
<section class='post-extensive'>
  <div class='post-container'>
    <div class='post-header'>
      <h3 class='post-title'><%= @post.title %> (Post #<%= @post.id %>)</h3>
      <span class='likes-and-comments'>
        Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
      </span>
    </div>
    <p class='post-text'>
      <%= @post.text %>
    </p>
    <span class='post-author'>
      <p><strong>Author:</strong> <%= @user.name%></p>
    </span>
  </div>
  <% if flash[:success] %>
    <div class="success-message top-margin">
      <%= flash[:success] %>
    </div>
  <% end %>
  <% if @comments.any? %>
  <div class='post-comments-list'>
    <% @comments.each do |comment| %>
    <% user = comment.author %>
      <%= render partial: 'shared/comment-container', locals: { comment: comment, user: user } %>
    <% end %>
  </div>
  <% end %>
  <form class='show-posts' action="/users/<%=@user.id%>/posts/<%=@post.id%>/new_comment">
    <input class='top-margin' type='Submit' value='Add comment'>
  </form>
</section>

</main>
